asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
Django==5.2.12
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
future==1.0.0
idna==3.18
mysqlclient==2.2.8
pillow==12.1.1
PyJWT==2.12.1
pyzk==0.9
requests==2.34.2
sqlparse==0.5.5
urllib3==2.7.0
